* {
    box-sizing: border-box;
  }
  #div2{
    text-align: center;
    font-size: 20px;
  }
  .Title {
      color: rgb(1, 1, 2);
      font-size: 50px;
     text-align: center;
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     padding-bottom: 20px;
  }
  li {
    list-style-type: none;
  }
h1 {
  text-align: center;
}

   .start-button {
    border-radius: 8px;
    color: #13293d;
    cursor: pointer;
        background-color: purple;

    font-size: 2em;
    letter-spacing: 0.21px;
    line-height: 16px;
    /* max-width: 255px; */
    padding: 20px 52px;
    margin-left: 840px;
    color: white;
   }
   #high_scores_list{
     font-size: 28px;
     text-align: center;
   }
   h2{
     text-align: center;
   }
   #player_name{
    margin-left: 800px;
   }
   #your_score{
     margin-left: 940px;
   }
   button{ 
    border-radius: 8px;
    color: #13293d;
    cursor: pointer;
        background-color: purple;
display: block;
    font-size: 2em;
    letter-spacing: 0.21px;
    line-height: 16px;
    /* max-width: 255px; */
    padding: 20px 52px;
    margin-left: 400px;
    color: white;
   }
   
   #submit_score {
   }

   .hidden { 
     display: none;
   }